@import "heading.css";
@import "paragraph.css";
/*--Main css stylesheet for RW site -- Group 3 project--*/

*{
	margin: 0px;
	padding: 0px;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body{
	background: #001433;
	margin: 0 auto;
	padding: 20px;
}
#header {
	width: 100%;
	height: 60px;
	background-color: #245998;
    border: 3px solid #4DFF00;
}
#navbar{
	width: 1000px;
	height: 60px;
	border: 1px solid white; 
	float: right;

}
#navbar li{
	width: 250px;
	list-style: none;
	float: left;
}
li {
    color: #4DFF00;
}
li, a {
	display: inline-block;
	color: white;
	line-height:60px;
	text-align: center;
	font-family: sans-serif;
    font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	padding: 0px 30px;
	color: #4DFF00;
}
li a:hover {
    background-color: #4DFF00;
    color: #245998;
}
div ul li{
    font-size: 14px;
    font-family: serif;
    font-weight: bold;
}

/*--CLASSES--*/
#h-table {
    position: absolute;
    top:600px;
    left: 200px;
}
#h-table .h-plan {
	font: 12px 'Lucida Sans', 'trebuchet MS';       
	background: #245998 ;      
	border: 1px solid #4DFF00;
	color: white;
	padding: 60px;
	width: 280px; 
    text-align: center;
}
#h-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto  25px;
	border-radius: 100px;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}
#h-table h3 {
	font-size: 20px;
	font-weight: bold;
}
#table {
    position: absolute;
    top: 150px;
    left: 600px;
}
#table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial;       
	background: #245998;      
	border: 1px solid #4DFF00;
	color: white;
	padding: 60px;
	width: 380px;      
	float: left;
	position: relative;
    text-align: center;
}
#table h3 {
	font-size: 20px;
	font-weight: bold;
}
#t-table {
    position: absolute;
    top:150px;
    left: 200px;
    
}
#t-table .t-plan {
	font: 12px 'Lucida Sans', 'trebuchet MS';       
	background: #245998;      
	border: 1px solid #4DFF00;
	color: white;
	padding: 60px;
	width: 600px;      
	float: right;
	position: relative;
    text-align: center;
}
#t-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto  25px;
	border-radius: 100px;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}
#t-table h3 {
	font-size: 20px;
	font-weight: bold;
}
#name {
	float:left;
	width: 200px;
	height: 60px;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 30px;
	color: #A5ACAF;
}
#footer {
	background-color: #245998;
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: 1500px;
   
}
#footer p {
    font-family: Verdana, sans-serif;
	font-size: 14px;
    font-weight: bolder;
	color: #ffffff;
    text-align: center;
    position:relative;
}

/*--IDs--*/
.aboutrussel{

	font-size: 14px;
	width: 60%;
	height:60%;
	margin-right: 250px;
	margin-top:150px;
	float: left;
	position: absolute;

}
.aboutrussel p {
    font-size: 20px;
}
.highlights{
    border:  4px solid #4DFF00;
    font-size: 12px;
	width: 380px;
	height: 400px;
    position: absolute;
    background-color: #A5ACAF;
    top: 150px;
    left: 200px;
}
.highlights ul li {
    color: #001433;
}
.highlights h2 {
    color: #001433;
}
.references{
    border:  4px normal #4DFF00;
	font-size: 14px;
	width: 900px;
	height: 300px;
	margin-right: 250px;
	margin-top: 1000px;
	float: left;
    position: absolute;
    

}
.imagelist{
	width: 200px;
    height: 600px;
	margin-right: 250px;
	margin-top:0px;
	float: right;

}
.imagelist a {
	margin: 2px;
	border: 4px solid transparent;
	display: inline-block;
}
.imagelist a:hover {
	border-color: white;
}
.imagelist img {
	border-radius: 10px;
}
.about{
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	float:left;
    width: 60%;
    height: auto;
     border:  4px solid #4DFF00;

}
.about2{
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	float:left;
    width: 60%;
    height: auto;
    border:  4px solid #4DFF00;
    top: 400px;
    
    
    

}
.link{
	color: white;
	text-decoration: none;
}
.Russel{
	display: block;
	height: 100px;
	width: 100px;
	margin-top: 20px;
	border-radius: 20%;
	border: 2px solid black;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.spreadimage{
	height: 400px;
	width: 600px;
    border-radius: 2%;
	border: 4px solid #4DFF00;
	position: absolute;
    top: 500px;
    left: 620px;
    align-self: center;
    
}
.RW1{

	height: 300px;
	width: 250px;
	border: 2px solid black;
	position: relative;
	float: right;

}
.RW2{

	height: 300px;
	width: 250px;
	border: 2px solid black;
	position: relative;
	float: right;

}
.RW3{

	height: 300px;
	width: 250px;
	border: 2px solid black;
	position: relative;
	float: right;
}	
.video1 {
	float: right;
	position: absolute;
    padding: 1cm ;
    clear: both
    margin-right: 590px;
	margin-top:490px;

    
}
.foreground {
    width: 30%;
    display: block;
    margin: 10px auto 0;
    background-color: #4DFF00;
    padding: 1cm;
    clear: both;
    position: relative;
    float: right;
    border-radius: 20%
    
}


